@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <title>Redis Cache - MS Fest Brno 2017</title>
</head>
<body>
    @RenderBody()
</body>
</html>

<style>
    body {
        font-family: 'Ubuntu', sans-serif;
        font-size: 130%;
    }

    a { color:#0000ff;}

    li {
        line-height: 1.4;
        color: #666;
    }

    .github {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: #ddd 1px solid;
    }
</style>